body{
    margin: 0;
    overflow-x: hidden;
    width: 100vw;
}
/* *{
    outline: 1px solid red;
} */


.form-select , .form-control ,p{
    text-align: center;
}

.container-fluid{
    margin: 10px;
}

li{
 list-style: none;
}

#icon-align{

    /* padding-left: 300px; */
    
    justify-content: space-between;
    gap: 49px
}
.ri-article-line , .bi  ,.ri-folder-video-line ,.ri-briefcase-fill ,.ri-puzzle-fill , .ri-macbook-line{
    width: 10px;
}

.top-bar{
    position: relative;
    justify-content: space-between;
    width: 75% !important;
}

a{
    color: black !important;
    text-decoration: none !important;
}
@media (max-width: 767.98px) {
    section {
        flex-direction: column; 
        align-items: center; 
    }

    .text-center {
        text-align: center; 
        margin: 20px 0;
    }

    .text-center img {
        width: 100%; 
        height: auto; 
        margin-top: 20px; 
    }
    #icon-align{
        padding-left: 0;
        width: 100%;
        overflow-x: scroll;
    }
    .top-bar{
        gap: 1rem;
        width: 100% !important;
    }
    .jsign{
        position: absolute;
        left: 60%;
        top:1rem;
        width: 18rem;
    }

}
@media (max-width:420px)  {
    .jsign{
       left: 40%;
    }
}
.container-fluid .d-flex {
    flex-direction: row;
}





